.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;

}

.modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal-content{
    border-radius: 12px;
    background-color: whitesmoke;
    width: 300px;
    height: auto;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal-content.active{
    transform: scale(1);
}

input, button{
    padding: 5px 20px 5px 20px;
    font-size: 15px;
}

input{
    width: 70%;
    margin-top: 10px;
}

button{
    margin-left: 5px;
    margin-top: 20px;
}

form{
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    color: red;
    font-weight: bold;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


