.container{
    display: flex;
    justify-content: center;
}

table{
    border: 2px solid dimgrey;
    background: #9b0000;
}


th{
    background: #d50000;
    color: whitesmoke;
    padding: 5px;
}

#selectAll{
    cursor: pointer;
}