.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

table{
    border: 0 solid dimgrey;
    border-radius: 5px;
    background: darkgrey;
    width: 85%;
}


th{
    background: #61D7A4;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}

#selectAll{
    cursor: pointer;
}

td{
    background: whitesmoke;
    padding: 5px 20px 5px 20px;
    cursor: default;
}

.delete{
    height: 32px;
    width: 80px;
    padding: 2px 5px 2px 5px;
}

button{
    cursor: pointer;
}

.editable{
    border: 3px solid #61D7A4;
    cursor: url("pencil2.png"), text;
}